name: CHANGELOG

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      GITHUB:
        required: true
        description: 'PAT of the user to run the jobs.'  

jobs:
  create_changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB }}

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB }}
          excludeTypes: ""
          includeInvalidCommits: false
          tag: ${{ github.ref_name }}

      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ github.ref_name }}
          # owner: clouddrove-ci
          body: ${{ steps.changelog.outputs.changes }}
          token: '${{ secrets.GITHUB }}'

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ inputs.branch}}
          commit_user_name: clouddrove-ci # defaults to "github-actions[bot]"
          commit_user_email: 84795582+clouddrove-ci@users.noreply.github.com # defaults to "41898282+github-actions[bot]@users.noreply.github.com"
          commit_author: CloudDrove CI <84795582+clouddrove-ci@users.noreply.github.com>
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }}'
          file_pattern: CHANGELOG.md
