name: 'Stale Issues and PRs Cleaner'

on:
  workflow_call:
    inputs:
      days-before-issue-stale:
        required: false
        type: number
        default: 30
      days-before-pr-stale:
        required: false
        type: number
        default: 30
      days-before-issue-close:
        required: false
        type: number
        default: 10
      days-before-pr-close:
        required: false
        type: number
        default: 10

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-issue-stale: ${{ inputs.days-before-issue-stale }}
          days-before-pr-stale: ${{ inputs.days-before-pr-stale }}
          stale-issue-label: stale
          stale-pr-label: stale
          stale-issue-message: |
            This issue has been automatically marked as stale because it has been inactive for ${{ inputs.days-before-issue-stale }} days.  
            Please remove the "stale" label or add a comment to keep it open. Otherwise, this issue will be closed in ${{ inputs.days-before-issue-close }} days.  
          stale-pr-message: |
            This PR has been automatically marked as stale because it has been inactive for ${{ inputs.days-before-pr-stale }} days.  
            Please remove the "stale" label or add a comment to keep it open. Otherwise, this PR will be closed in ${{ inputs.days-before-pr-close }} days.  
          exempt-issue-labels: bug,wip,on-hold,no-stale
          exempt-pr-labels: bug,wip,on-hold,no-stale
          exempt-all-milestones: true
          days-before-issue-close: ${{ inputs.days-before-issue-close }}
          days-before-pr-close: ${{ inputs.days-before-pr-close }}
          delete-branch: true
          close-issue-message: This issue was automatically closed because of stale in ${{ inputs.days-before-issue-close }} days
          close-pr-message: This PR was automatically closed because of stale in ${{ inputs.days-before-pr-close }} days
          remove-stale-when-updated: true
